

<div class="container">
  <form class="main_login_form" action='/login' method="post" align="center">
    Email: <input type="text" name="email" placeholder="hoonigan@lrdmotorsports.com" size="28px"><br><br>
    Password: <input type="password" name="password" placeholder="password"><br><br>
    <input type="submit" value="Log in">
  <br><br>
  </form>

  <div class="item" align="center">
    <a href="/register" class="signup"> Sign Up</a>
  </div>
</div>