<div class="container">
  
  <form id="register_form" action='/register' method="post" align="center">
    Username: <input type="text" name="username" placeholder="KingHoon">
    <br><br>
    Email: <input type="text" name="email" placeholder="wish@herokuwebapps.com" size="29px">
    <br><br>
    Password: <input type="password" name="password" placeholder="Password" size="23.5px">
    
    <br><br>
    <input type="submit" value="Register!">
  </form>
</div>